    {{> head}}



    {{> navbar }}


   <div class="row">
        <div class="col-8">
            <h1>Node JS</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugiat iusto sit sunt voluptates natus corrupti. Et, error laborum incidunt obcaecati consequatur corporis nobis impedit ipsum officiis tempora aut neque.
            </p>
        </div>
        <div class="col-3">
            <img src="assets/imagenes/node.png" class="img-thumbnail">
        </div>
   </div>

    {{> footer}}